* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}

:root {
  --corPrincipal: #424242;
  --corSecundaria: #d8d3d3;
}
.h1Usuario {
  padding: 20px;
  text-align: center;
}
.inputUsuario {
  display: block;
  margin: 10px auto;
  font-size: 18px;
  padding: 8px;
}
